<section class="el-valle">
    <h3 class="subheader subrayed">
        Valle de Traslasierras
    </h3>
    <p class="normalize-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nihil rem, facilis numquam recusandae
        est
        libero maiores odit. Quo veritatis aut quod commodi culpa, aperiam in fugit libero placeat? Maiores
        consequatur vitae, temporibus aperiam perferendis unde excepturi aut mollitia? Beatae consectetur fugit
        adipisci dolorem facilis cumque fugiat, consequuntur dolore ullam?
    </p>
    <div class="border">
        <div class="container-img">
            <img src="../../../assets/images/altas-cumbres.jpg" alt="Altas Cumbres"/>
        </div>
    </div>
</section>

<app-que-visitar></app-que-visitar>
