.sobre-nosotros{
    margin-top: var(--margin-top-components);
}

.sobre-nosotros .subheader{
    margin-bottom: 15px;
}

.sobre-nosotros span{
    display: block;
    margin-bottom: 5px;
}

.s-nosotros-img{
    float: right;
    height: 400px;
    margin-left: 20px;
}



@media(max-width: 900px){
    .s-nosotros-img{
        height: 380px;
    }
}

@media(max-width: 700px){
    .s-nosotros-img{
        width: 40%;
    }
}

@media(max-width: 600px){
    .s-nosotros-img{
        height: 290px;
    }
}

@media(max-width: 450px){
    /* .servicios-home{
        display: block;
    }

    .serv-home-img{
        display: none;
    }

    .serv-home-text{
        background-image: url(../../../assets/images/serv-home.jpg);
        background-size: cover;
        background-origin: content-box;
        background-repeat: no-repeat;
        padding: 5px;
        border: 2px solid var(--main-color-text);
    }

    .servicios-home h3{
        border-style: none;
        margin-bottom: 0;
    }

    .serv-home-text ul{
        background-image: none;
        border-style: none;
        font-weight:500;
        background-color: #120201d8;
        margin: 20px auto;
        list-style: none;
        text-align: center;
        width: 80%;
    } */
}
