.sobre-nosotros{
    margin-top: var(--margin-top-components);
}

.sobre-nosotros .subheader{
    margin-bottom: 15px;
}

.sobre-nosotros span{
    display: block;
    margin-bottom: 5px;
}

.s-nosotros-img{
    float: right;
    height: 400px;
    margin-left: 20px;
}



@media(max-width: 900px){
    .s-nosotros-img{
        height: 380px;
    }
}

@media(max-width: 700px){
    .s-nosotros-img{
        width: 40%;
    }
}

@media(max-width: 600px){
    .s-nosotros-img{
        height: 290px;
    }
}

@media(max-width: 450px){
    .sobre-nosotros{
        display: block;
    }

    .s-nosotros-img{
        display: none;
    }

    .sobre-nosotros p{
        background-image: url(../../../assets/images/sobre-nosotros.jpg);
        background-size: cover;
        background-origin: content-box;
        background-repeat: no-repeat;
        padding: 5px;
        border: 2px solid var(--main-color-text);
    }

    .sobre-nosotros h3{
        border-style: none;
        margin-bottom: 0 !important;
    }

    .sobre-nosotros span{
        background-image: none;
        border-style: none;
        font-weight:500;
        background-color: #120201d8;
        margin: 15px auto;
        padding: 5px;
        border-radius: 3px;
        width: 80%;
    }
}
