<footer>
    <div class="center">
        <div class="footer-container">
            <!-- <ul class="footer-nav">
                <li><a [routerLink]="['/home']" [routerLinkActive]="['footer-nav-active']">Home</a></li>
                <li><a [routerLink]="['/complejo']" [routerLinkActive]="['footer-nav-active']">Complejo</a></li>
                <li><a [routerLink]="['/ubicacion']" [routerLinkActive]="['footer-nav-active']">Ubicacion</a></li>
                <li><a [routerLink]="['/traslasierras']" [routerLinkActive]="['footer-nav-active']">Traslasierras</a>
                </li>
                <li><a [routerLink]="['/contacto']" [routerLinkActive]="['footer-nav-active']">Contacto</a></li>
            </ul> -->

            <div class="footer-redes-logo">
                <div class="footer-redes">
                    <a href="https://www.instagram.com/aquimequedominaclavero/" target="_blank">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </a>
                    <a href="https://www.facebook.com/complejoaquimequedo/" target="_blank">
                        <fa-icon [icon]="faFacebookSquare"></fa-icon>
                    </a>
                    <a href="https://wa.me/5493544565770" target="_blank">
                        <fa-icon [icon]="faWhatsapp"></fa-icon>
                    </a>
                </div>
                <div class="footer-logo">
                    <img src="../../../assets/images/logo.png" alt="logotipo" />
                </div>
            </div>

            <div class="footer-contacto">
                <div class="foot-contact-group">
                    <span>+54 9 3544 565770 <br> +54 9 3544 470955</span>
                    <fa-icon [icon]="faPhoneAlt"></fa-icon>
                </div>
                <div class="foot-contact-group">
                    <span>La Piedad y Uspallata <br> Mina Clavero - Cordoba</span>
                    <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                </div>
                <div class="foot-contact-group">
                    <span>cabaquimequedo@live.com</span>
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                </div>
            </div>
        </div>
    </div>
    <span class="copyright">&copy; Copyrigth 2021 Cabañas Aquí Me Quedo - Desarrollo Web Lautaro Ceballos</span>
</footer>