<footer>
    <div class="center">
        <div class="footer-container">
            <div class="footer-redes-logo">
                <div class="footer-redes">
                    <a href="{{redes.urlInstagram}}" target="_blank">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </a>
                    <a href="{{redes.urlFacebook}}" target="_blank">
                        <fa-icon [icon]="faFacebookSquare"></fa-icon>
                    </a>
                    <a href="{{'https://wa.me/' + contacto.telefono}}" target="_blank">
                        <fa-icon [icon]="faWhatsapp"></fa-icon>
                    </a>
                </div>
                <div class="footer-logo">
                    <img src="assets\images\logo.png" alt="logotipo" />
                </div>
            </div>

            <div class="footer-contacto">
                <div class="foot-contact-group">
                    <span>{{ contacto.telefono | formatPhone }}</span>
                    <fa-icon [icon]="faPhoneAlt"></fa-icon>
                </div>
                <div class="foot-contact-group">
                    <span> {{ direccion.numero + ' ' + direccion.calle}} <br> {{ direccion.localidad + ' - ' + direccion.ciudad}}</span>
                    <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                </div>
                <div class="foot-contact-group">
                    <span>{{ contacto.email }}</span>
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                </div>
            </div>
        </div>
    </div>
    <span class="copyright">&copy; Copyrigth 2021 Cabañas Aquí Me Quedo - Desarrollo Web Lautaro Ceballos</span>
</footer>