/* Formulario de contacto CSS */
.contact-form h3{
    margin-bottom: 15px;
    font-size: 21px;
}

.contact-form form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

.contact-form label{
    color: var(--main-color-text);
    font-family: "Courgette-regular";
    font-size: 16px;

}

.contact-form input,
.contact-form select,
.contact-form textarea{
    background-color: #fdc889;
    border-style: none;
    width: 100%;
    padding: 10px 15px;
    border-radius: 3px;
    margin: 5px 0 10px;
    font-family: "Leelawadee";
    font-size: 14px;
}

.contact-form textarea{
    height: 100px;
    resize: none;
    margin-bottom: 15px;
}

.contact-form input[type=submit]{
    grid-column: 4 / 5;
    font-family: "Courgette-Regular";
	font-size: 1em;
    transition: all 300ms ease-in-out;
}

.contact-form input[type="submit"]:hover{
    opacity: .9;
}

.contact-form input[type="submit"]:focus{
    transform: scale(.9);
}

.group-name{grid-column: 1 / 3;}
.group-tel{grid-column: 3 / 5;}
.group-dtlls{grid-column: 1 / 5;}

.input-error{
	color: #f78282;
	font-family: "Leelawadee";
	position: relative;
	top: -10px;
}


@media(max-width: 700px){
    .contact-form input[type=submit]{
        grid-column: 3 / 5;
    }
}

@media(max-width: 600px){
    .group-name, .group-tel{grid-column: 1 / 5;}
    .group-dsd, .group-may{ grid-column: 1 / 3;}
    .group-hst, .group-men{ grid-column: 3 / 5;}
}

@media(max-width: 450px){
    .contact-form h3{
        padding-bottom: 5px;
        text-align: center;
    }

    .contact-form input[type=submit]{
        grid-column: 1 / 5;
    }
}