/* Tipologias CSS */

.tipo-cabana{
    margin-bottom: 35px;
}

.tipo-cabana .serv-list-container{
    grid-column: 2/3;
}

.tipo-cabana .serv-list-img{
    grid-column: 1/2;
}

@media(max-width: 700px){
    .tipo-cabana .serv-list-img{
        height: 260px;
    }
}

@media(max-width: 600px){
    .tipologias .serv-list-img{
        height: 230px;
    }
}

@media(max-width: 550px){
    .tipo-cabana .serv-list-container{
        background-image: url(../../../assets/images/tipologias/cabaña.jpg);
    }

    .tipo-casa .serv-list-container{
        background-image: url(../../../assets/images/tipologias/casa.jpg);
    }
}