/* Tipologias CSS */

/* .tipo-cab-img,
.tipo-casa-text{
    margin-top: var(--margin-top-components);
    grid-column: 1 / 7;
}

.tipo-casa-img,
.tipo-cab-text{
    margin-top: var(--margin-top-components);
    grid-column: 7 / 13;
}

.tipologias img{
    height: 110%;
} */

.tipo-cabana .serv-list-container{
    grid-column: 2/3;
}

.tipo-cabana .serv-list-img{
    grid-column: 1/2;
}

@media(max-width: 550px){
    .tipo-cabana .serv-list-container{
        background-image: url(../../../assets/images/tipologias/cabaña.jpg);
    }

    .tipo-casa .serv-list-container{
        background-image: url(../../../assets/images/tipologias/casa.jpg);
    }
}