<section class="tipologias normalize-text grid">
    <div class="border tipo-cab-img">
        <div class="container-img">
            <img src="../../../assets/images/tipologias/cabaña.jpg" alt="Planta baja de la cabaña">
        </div>
    </div>
    <div class="tipo-cab-text">
        <div class="subheader subrayed">Tipologia de Cabañas - 4/5 Pers.</div>
        <ul class="normalize-list">
            <li>Smart TV - Netflix - DirectTV en sala.</li>
            <li>Salida independiente a la calle.</li>
            <li>Cocina - Comedor.</li>
            <li>Hab. Matrimonial en 2da planta</li>
            <li>2/3 camas individuales en sala.</li>
            <li>Salida independiente al parque</li>
            <li>Ventilador de pie y techo</li>
            <li>Calefaccion a leña</li>
            <li>Cochera cubierta con porton</li>
        </ul>
    </div>

    <div class="tipo-casa-text">
        <div class="subheader subrayed">Tipologia de Cabañas - 4/5 Pers.</div>
        <ul class="normalize-list">
            <li>Smart TV - Netflix - DirectTV en sala.</li>
            <li>Comedor - Sala de estar.</li>
            <li>Cocina - Totalmente equipada.</li>
            <li>2 Hab. Matrimoniales.</li>
            <li>4 camas individuales.</li>
            <li>Jardin privado.</li>
            <li>Ventilador de pie y techo.</li>
            <li>Calefaccion a leña.</li>
            <li>Microondas - Heladera - Horno.</li>
            <li>Cochera cubierta con porton.</li>
        </ul>
    </div>
    <div class="border tipo-casa-img">
        <div class="container-img">
            <img src="../../../assets/images/tipologias/casa.jpg"
                alt="Fachada de la casa">
            </div>
    </div>
</section>
