<section class="opiniones">
    <h3 class="subheader">¿Que dicen de nosotros?</h3>
    <div class="op-container normalize-text border">

        <article class="clientes">
            <input type="radio" name="op-slides" id="op-radio1" checked>
            <input type="radio" name="op-slides" id="op-radio2">
            <ul class="op-slides">
                <li>
                    <article class="op-der">
                        <div class="op-content">
                            <div class="op-header">
                                <span class="op-nombre">Lautaro Ceballos</span>
                                <span class="op-estrellas">
                                    <fa-icon [icon]="fasStar"></fa-icon>
                                    <fa-icon [icon]="fasStar"></fa-icon>
                                    <fa-icon [icon]="fasStar"></fa-icon>
                                    <fa-icon [icon]="fasStar"></fa-icon>
                                    <fa-icon [icon]="farStar"></fa-icon>
                                </span>
                                <span class="op-fecha">01/01/2020</span>
                            </div>
                            <div class="op-testimonio">
                                Hermoso complejo y excelente la atencion. La pasamos muy bien
                            </div>
                        </div>
                        <div class="op-ico">
                            <fa-icon [icon]="faSmileBeam"></fa-icon>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="op-izq">
                        <div class="op-ico">
                            <fa-icon [icon]="faGrinHearts"></fa-icon>
                        </div>
                        <div class="op-content">
                            <div class="op-header">
                                <span class="op-nombre">Euge Caceres</span>
                                <span class="op-estrellas">
                                    <fa-icon [icon]="fasStar"></fa-icon>
                                    <fa-icon [icon]="fasStar"></fa-icon>
                                    <fa-icon [icon]="fasStar"></fa-icon>
                                    <fa-icon [icon]="fasStar"></fa-icon>
                                    <fa-icon [icon]="farStar"></fa-icon>
                                </span>
                                <span class="op-fecha">01/01/2020</span>
                            </div>
                            <div class="op-testimonio">
                                Un hermoso lugar, muy acojedor y lleno de bellos recuerdos
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
            <div class="op-navegacion">
                <label for="op-radio1" id="op-radioSelect1"></label>
                <label for="op-radio2" id="op-radioSelect2"></label>
            </div>
        </article>

        <article class="op-reco">

            <h4 class="subtitle">¿Ya nos conoces? Recomendanos</h4>

            <button><fa-icon [icon]="faAngry"></fa-icon></button>
            <button><fa-icon [icon]="faFrown"></fa-icon></button>
            <button><fa-icon [icon]="faMehBlank"></fa-icon></button>
            <button><fa-icon [icon]="faSmileBeam"></fa-icon></button>
            <button><fa-icon [icon]="faGrinHearts"></fa-icon></button>
        </article>
    </div>
</section>
