<section class="opiniones">
    <h3 class="subheader">¿Que dicen de nosotros?</h3>
    <div class="op-container normalize-text border">

        <article class="clientes">
            <ng-container *ngFor="let testimonio of testimonios; let i = index;">
                <input type="radio" name="op-slides" id="{{'op-radio' + (i + 1)}}" checked>
            </ng-container>
            
            <input type="radio" name="op-slides" id="op-radio2">

            <input for="" type="radio" name="op-slides" id="op-radio">

            <ul class="op-slides">
                <ng-container *ngFor="let testimonio of testimonios; let i = index;" >
                    <li [style.display]="i >= 2 && shortView ? 'none' : 'block'" >
                        <article [ngClass]="{ 'op-der': i % 2 == 0, 'op-izq': i % 2 != 0}">
                            <div class="op-content">
                                <div class="op-header">
                                    <span class="op-nombre">{{testimonio.nombre}}</span>
                                    <span class="op-estrellas">
                                        <ng-container *ngFor="let star of [].constructor(5); let i = index;">
                                            <fa-icon *ngIf="i < testimonio.clasificacion" [icon]="fasStar"></fa-icon>
                                            <fa-icon *ngIf="i >= testimonio.clasificacion" [icon]="farStar"></fa-icon>
                                        </ng-container>
                                    </span>
                                    <span class="op-fecha">{{testimonio.fecha | date}}</span>
                                </div>
                                <div class="op-testimonio">
                                    {{testimonio.detalle}}
                                </div>
                            </div>
                            <div class="op-ico">
                                <fa-icon [icon]="clasIcon[testimonio.clasificacion-1]"></fa-icon>
                            </div>
                        </article>
    
                        <button class="toggleMasMenos" *ngIf="desktopView && shortView && i == 1" (click)="toggleMasComentarios()">Mostrar mas</button>
                        <button class="toggleMasMenos" *ngIf="desktopView && !shortView && i == (testimonios.length - 1)" (click)="toggleMasComentarios()">Mostrar menos</button>
                    </li>
                </ng-container>
            </ul>
            <div class="op-navegacion">
                <ng-container *ngFor="let testimonio of testimonios let i = index;">
                    <label for="{{'op-radio' + (i + 1)}}" id="{{'op-radioSelect' + (i + 1)}}"></label>
                </ng-container>
            </div>
        </article>

        <article class="op-reco">

            <h4 class="subtitle">¿Ya nos conoces? Recomendanos</h4>

            <button id="1Stars" (click)="newTestimonio($event)"><fa-icon [icon]="faAngry"></fa-icon></button>
            <button id="2Stars" (click)="newTestimonio($event)"><fa-icon [icon]="faFrown"></fa-icon></button>
            <button id="3Stars" (click)="newTestimonio($event)"><fa-icon [icon]="faMehBlank"></fa-icon></button>
            <button id="4Stars" (click)="newTestimonio($event)"><fa-icon [icon]="faSmileBeam"></fa-icon></button>
            <button id="5Stars" (click)="newTestimonio($event)"><fa-icon [icon]="faGrinHearts"></fa-icon></button>
        </article>
    </div>
</section>
