<section class="parque">
    <div class="separador">
        <img src="../../../assets/images/separador.png" class="separador-izq" alt="adorno de separacion"
            srcset="../../../assets/images/separador.svg">
        <h3 class="subheader">Parque</h3>
        <img src="../../../assets/images/separador.png" class="separador-der" alt="adorno de separacion"
            srcset="../../../assets/images/separador.svg">
    </div>

    <div class="galeria-parque">
        <div class="slider-thumb thumb-a">
            <div class="border">
                <div class="container-img">
                    <img src="../../../assets/images/slider-home/img2.jpg" alt="habitacion">
                </div>
            </div>
        </div>
        <div class="slider-thumb thumb-b">
            <div class="border">
                <div class="container-img">
                    <img src="../../../assets/images/slider-home/img3.jpg" alt="habitacion">
                </div>
            </div>
        </div>
        <div class="slider-thumb thumb-c">
            <div class="border">
                <div class="container-img">
                    <img src="../../../assets/images/slider-home/img4.jpg" alt="habitacion">
                </div>
            </div>
        </div>
        <div class="slider-thumb thumb-d">
            <div class="border">
                <div class="container-img">
                    <img src="../../../assets/images/slider-home/img5.jpg" alt="habitacion">
                </div>
            </div>
        </div>
    </div>
</section>
