<section class="parque">
    <div class="separador">
        <img src="assets\images\separador.png" class="separador-izq" alt="adorno de separacion"
            srcset="assets\images\separador.svg">
        <h3 class="subheader">Parque</h3>
        <img src="assets\images\separador.png" class="separador-der" alt="adorno de separacion"
            srcset="assets\images\separador.svg">
    </div>

    <div class="galeria-parque">
        <div class="slider-thumb" *ngFor="let image of images; let i = index;">
            <div class="border" (click)="showSliderModal(image, i)">
                <div class="container-img">
                    <img src="{{image.src}}" alt="{{image.alt}}">
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="viewSliderModal">
        <div class="background-blur">
            <fa-icon [icon]="faTimes" class="control exit" (click)="closeSliderModal()"></fa-icon>
            <app-slider-home
                class="app-slider-home"
                [isModal]="true"
                [selectedImgModal]="img"
                [indexModal]="index"
            ></app-slider-home>
        </div>
    </ng-container>

</section>
