<section id="slider-home">
    <div class="slider-main-img">
        <div class="border">
            <div class="container-img">
                <img src="../../../assets/images/slider-home/img1.jpg" alt="fachada">
            </div>
        </div>
    </div>

    <div class="thumbs">
        <div class="slider-thumb">
            <div class="border">
                <div class="container-img">
                    <img src="../../../assets/images/slider-home/img2.jpg" alt="habitacion">
                </div>
            </div>
        </div>
        <div class="slider-thumb">
            <div class="border">
                <div class="container-img">
                    <img src="../../../assets/images/slider-home/img3.jpg" alt="habitacion">
                </div>
            </div>
        </div>
        <div class="slider-thumb">
            <div class="border">
                <div class="container-img">
                    <img src="../../../assets/images/slider-home/img4.jpg" alt="habitacion">
                </div>
            </div>
        </div>
        <div class="slider-thumb">
            <div class="border">
                <div class="container-img">
                    <img src="../../../assets/images/slider-home/img5.jpg" alt="habitacion">
                </div>
            </div>
        </div>
    </div>
</section>
