
<div class="slider-home">
    <div class="slider-main border">
        <div class="carousel">
            <ng-container *ngFor="let slide of slides; let i = index">
                <img [src]="slide.src" alt="{{slide.alt}}" class="slide" *ngIf="i === currentSlide" @carouselAnimation />
            </ng-container>

            <!-- controls -->
            <button class="control prev" (click)="onPreviousClick()">
                <fa-icon [icon]="faAngleLeft"></fa-icon>
            </button>
            <button class="control next" (click)="onNextClick()">
                <fa-icon [icon]="faAngleRight"></fa-icon>
            </button>
        </div>
    </div>

    <div class="thumbs">
        <div class="slider-thumb" *ngFor="let thumb of slidesThumbs; let i = index; trackBy: trackByItems" (click)="slideTo(thumb.id, i)">
            <div class="border">
                <div class="container-img">
                    <img [src]="thumb.src" alt="{{thumb.alt}}"/>
                </div>
            </div>
        </div>
    </div>

    <div class="nav-mobile">
        <ul>
            <li *ngFor="let nav of slides; let i = index" (click)="slideToMobile(i)">
                <div *ngIf="i === currentSlide" class="nav-slide-active"></div>
            </li>
        </ul>
    </div>
</div>