
/* Terminal CSS */
.ref-geo input{
    display: none;
}

.ref{
    margin-bottom: 30px;
}

.ref-geo label{
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.ref-geo label fa-icon{
    float: right;
    display: none;
}

.ref-terminal p{
    margin-bottom: 10px;
}

.ref-terminal .border{
    height: 200px;
}


/* Balneario CSS */

.ref-balneario p{
    grid-column: 1 / 8;
}

.ref-balneario .ref-img{
    grid-column: 8 / 13;
}

/* Feria CSS */

.ref-centro p{
    grid-column: 6 / 13;
}

.ref-centro .ref-img{
    grid-column: 1 / 6;
}

@media(max-width: 700px){
    .ref-geo label{
        font-size: 22px;
    }
}

@media(max-width: 500px){
    .ref-geo label{
        font-size: 18px;
        cursor: pointer;
    }

    .ref-geo label fa-icon{
        display: inline;
    }

    .ref-content{
        display: flex;
        overflow: hidden;
        transition: max-height .6s ease-in-out;
        max-height: 0;
        flex-wrap: wrap;
    }

    .ref-content p{
        margin-bottom: 10px;
    }

    .ref-img{
        height: 200px;
        width: 100%;
    }

    .ref-centro .ref-content{
        flex-wrap: wrap-reverse;
    }

    #ref-radio1:checked ~ .ref-terminal .ref-content{
        max-height: 1000px;
    }
    #ref-radio2:checked ~ .ref-balneario .ref-content{
        max-height: 1000px;
    }
    #ref-radio3:checked ~ .ref-centro .ref-content{
        max-height: 1000px;
    }
    
    #ref-radio1:checked ~ .ref-terminal fa-icon,
    #ref-radio2:checked ~ .ref-balneario fa-icon,
    #ref-radio3:checked ~ .ref-centro fa-icon{
        transform: rotate(90deg) !important;
        transition: all 300ms ease-in-out;
    }  
}