<section class="que-visitar">
    <h3 class="subheader subrayed">¿Que visitar en Traslasierras?</h3>
    <div class="que-visitar-nav subrayed">
        <button class="que-visitar">Museos</button>
        <button class="active-lugar">Balnearios</button>
        <button>Paseos</button>
        <button>Ver Todos</button>
    </div>
    <div class="lugares-container">
        <article class="lugar">
            <h4 class="subheader">Museo Comechingon y Museo de Cactus</h4>
            <div class="border">
                <div class="container-img">
                    <img src=".../../../assets/images/que-visitar/comechingon.jpg" alt="Museo Comechingon" />
                </div>
            </div>
            <p class="normalize-text">Está ubicado a 3 km de la rotonda de acceso a Mina Clavero por el Camino
                De
                Las Altas Cumbres.- Con cierto criterio filosófico este museo arqueológico cuenta y muestra el
                legado comechingón.- Además posee un jardín botánico de cactus.-</p>
        </article>
        <article class="lugar">
            <h4 class="subheader">Museo Polifacetico Rocsen</h4>
            <div class="border">
                <div class="container-img">
                    <img src="../../../assets/images/que-visitar/comechingon.jpg" alt="Museo Comechingon" />
                </div>
            </div>
            <p class="normalize-text">Está ubicado a 3 km de la rotonda de acceso a Mina Clavero por el Camino
                De
                Las Altas Cumbres.- Con cierto criterio filosófico este museo arqueológico cuenta y muestra el
                legado comechingón.- Además posee un jardín botánico de cactus.-</p>
        </article>
    </div>
</section>