<section class="servicios-home serv-list">
    <h3 class="subheader subrayed">
        Te ofrecemos...
    </h3>
    <div class="serv-list-container">
        <ul class="normalize-list normalize-text">
            <li>Wifi - SmartTV - Netflix - DirectTV.</li>
            <li>Ropa Blanca (Sabanas y Toallas).</li>
            <li>Cochera Cubierta.</li>
            <li>Pileta con solarium en el complejo.</li>
            <li>Asadores individuales.</li>
            <li>Parque - Juegos de jardin.</li>
            <li>Ventilador de pie y techo.</li>
            <li>Cocina totalmente equipada.</li>
            <li>Microondas - Heladera - Cocina.</li>
        </ul>
    </div>
    <div class="serv-list-img">
        <div class="border">
            <div class="container-img">
                <img src="assets\images\serv-home.jpg" alt="balcon">
            </div>
        </div>
    </div>
</section>
