<section class="ademas-home">
    <div class="separador">
        <img src="assets\images\separador.png" class="separador-izq" alt="adorno de separacion"
            srcset="assets\images\separador.svg"/>
        <h3 class="subheader">ademas</h3>
        <img src="assets\images\separador.png" class="separador-der" alt="adorno de separacion"
            srcset="assets\images\separador.svg"/>
    </div>
    

    <div class="ico-group normalize-text">
        <div class="ico-item">
            <fa-icon [icon]="faCalendarCheck"></fa-icon>
            <span>Abrimos todo el año</span>
        </div>
        <div class="ico-item">
            <fa-icon [icon]="faCreditCard"></fa-icon>
            <span>Aceptamos tarjetas de debito y credito</span>
        </div>
        <div class="ico-item">
            <fa-icon [icon]="faPaw"></fa-icon>
            <span>Somos Pet-Friendly</span>
        </div>
        <div class="ico-item">
            <fa-icon [icon]="faSwimmer"></fa-icon>
            <span>A 100m del Balneario los Elefantes</span>
        </div>
        <div class="ico-item">
            <fa-icon [icon]="faCocktail"></fa-icon>
            <span>A 300m del Centro Comercial</span>
        </div>
    </div>
</section>
